.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: #fff;
  margin-bottom: 15px;

  @media (max-width: '920px') {
    font-size: 1.4rem;
  }
}

.subtitle {
  font-size: 1.1rem;
  color: #fff;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;

  @media (max-width: '640px') {
    flex-direction: column;
  }
}

.link {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #b5b7b7;
  padding: 10px 20px;
  margin: 0 auto 10px;
  max-width: 400px;
  border: none;
  background-color: #000;
  cursor: pointer;
  user-select: none;
  transition:
    background-color 0.2s linear,
    color 0.2s linear,
    transform 0.2s linear;

  &:hover {
    color: #fff;
  }

  &:active {
    transform: scale(0.98);
  }
}

.user {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto 20px;
  background: rgba(0, 0, 0, 0.5);

  img {
    width: 100%;
    max-width: 200px;
  }

  p {
    color: #fff;
  }
}

.lastUser {
  border: 1px solid #fff;
}
