@import '../../scss/keyframes/keyframes.scss';

.wrapper {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: dual-ring 1.2s linear infinite;
}
