@import '../../scss/keyframes/keyframes.scss';

.footer {
  width: 100%;
  height: 76px;
  padding: 8px 10px;
  background-color: #000;

  flex: 0 0 auto;

  &__logo {
    width: 100px;
    height: auto;
    margin: 10px 0;
  }

  &__gitLogo {
    width: 52px;
    margin-left: -80px;

    @media (max-width: 720px) {
      margin-left: 0;
    }

    &:hover {
      animation: jerking 1s ease;
      animation-iteration-count: 1;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.outerBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copyright {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin: 5px 0;

  @media (max-width: 720px) {
    display: none;
  }

  &::before {
    content: '© ';
  }
}