.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 218px);
  padding: 30px 15px;
  background-color: #151515;

  img {
    width: 100%;
    max-width: 482px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;

    @media (max-width: '560px') {
      font-size: 1rem;
    }
  }

  a {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #f92a2ad1;
    transition: background-color .2s linear;

    &:hover {
      background-color: darken(#f92a2ad1, 5%);
    }

    @media (max-width: '560px') {
      font-size: 0.8rem;
    }
  }
}